* {
	padding: 0; 
	margin: 0; }

body {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	background-color: #282040;
	background-image: url('dblue193.jpg');
	padding: 0;
	margin: 0; }
	
a:link, a:visited {
	color: #0C4D8F;
	font-weight: bold;
	text-decoration: none; }

a:hover {
	color: #1F7A71;
	font-weight: bold;
	text-decoration: none; }
 
h1 {
	margin: 0 30px 0 0;
	position: relative; 
	color: #FFFFFF;
	font-family: Century Gothic;
	font-weight: bold;
	text-align: right; 
	vertical-align: bottom;}
	
h2 {
	font-family: Verdana, Helvetica, sans-serif;
	color: #003080;
	font-weight: normal;
	margin: 0 0 10px 25px; }
	
p {
	font-size: 12px;
	text-align: justify; 
	padding: 0 20px 15px 20px; }

ul {
	font-size: 12px;
	text-align: left; 
	padding: 0 20px 15px 40px; 
	list-style-type: square; }
	
div#tartalom {
	margin: auto;
	width: 1000px;
	background-image: url('background.png');
	background-repeat: y-repeat;
	overflow: hidden; }

header {
	padding-top: 48px;
	margin: 0 0 20px 0;
	background-image: url('header.png');
	background-repeat: norepeat;
	width: 1000px;
	height: 115px; }
	
div#terkep {
	width: 900px;
	height: 500px;
	margin: auto; }

div#terkep_helye {
	width: 700px; 
	height: 500px; 
	margin-top: 20px; }

div#info {
	float: right;
	width: 195px; 
	height: 500px; }

div#info table th {
	color: #003080;}
	
fieldset {
	position: relative;
	text-align: left;
	margin: 10px 0 10px 18px; 
	width: 305px;
	height: 105px;
	float: left; }
	
fieldset p {
	padding: 3px 5px 3px 5px; }

fieldset p input {
	float: right; }
	
.gomb {
	position: absolute; 
	bottom: 5px;
	right: 0;
	float: right; }

legend {
	margin: 5px 30px 5px 15px;
	font-weight: bold;
	color: #003080; }

div#link {
	clear: both; }

footer{
	color: white;
	margin: auto;
	padding: 28px 0 0 0;
	background-image: url('footer.png');
	background-repeat: norepeat;
	width: 992px;
	height: 40px; 
	text-align: center; 
	clear: both; }
